/* Sliding Menu */
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.scrolling-card {
  flex: 0 0 auto;
}

/* Show the hand cursor on hover */
.showHandCursor {
  cursor: pointer;
  cursor: hand;
}

/* Grow effect on hover*/
.grow {
  transition: all .2s ease-in-out;
}
.grow:hover { 
  transform: scale(1.1); 
}

/* Hide an element */
.hidden {
  visibility: hidden;
}